h1 { 
    color: white;
}
span {
    color: aqua;
}

.colored-tag{
    background-color: black;   
}
h2 {
    color:white
}
.colored-atag{
    background-color: blueviolet;
}
h2{
    text-align: center;
}

h3{
    color: black ;
}

.colored-otag{
    background-color: aqua ;
}

h3{
  text-align: right;  
}
h3 {
    text-decoration: underline;
}